@model IEnumerable<SupplierMVC.Models.BrandData>

@{
    ViewData["Title"] = "Index";
}

<h1>All Brand Details</h1>
<div>
    <p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BrandName)
                </td>
               <partial name="_TableButtonPartial" model="item.BrandId" />
            </tr>
        }
    </tbody>
</table>

</div>
</div>

