@model SupplierAPI.Models.ProductViewModel
@using SupplierMVC.Extensions
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<br />
<h2 class="text-info "> Add Bike</h2>

<form method="post" enctype="multipart/form-data" action="Create">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="product.product_Name"></label>
        </div>
        <div class="col-4">
            <select asp-for="Category.CategoryId" asp-items="Model.Category.ToSelectedListItem<Make>()" id="Make" class="form-control"></select>
            <span asp-validation-for="Bike.MakeID" class="text-danger"></span>
            </div>
        <div class="col-2">
            <label asp-for="Bike.ImagePath"></label>
        </div>
        <div class="col-auto">
            <input type="file" name="files" class="form-control"></input>
            <span asp-validation-for="Bike.ImagePath" class="text-danger"></span>
        </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Models"></label>
        </div>
        <div class="col-4">
            <select asp-for="Bike.ModelID" asp-items="Model.Models.ToSelectedListItem<Model>()" id="Model" class="form-control"></select>
            <span asp-validation-for="Bike.ModelID" class="text-danger"></span>
            </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.Year"></label>
        </div>
        <div class="col-4">
            <input asp-for="Bike.Year"  class="form-control"></input>
            <span asp-validation-for="Bike.Year" class="text-danger"></span>
        </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.Mileage"></label>
        </div>
        <div class="col-4">
            <input asp-for="Bike.Mileage"  class="form-control"></input>
            <span asp-validation-for="Bike.Mileage" class="text-danger"></span>
        </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.Price"></label>
        </div>
        <div class="col-4">
            <input asp-for="Bike.Price"  class="form-control"></input>
            <span asp-validation-for="Bike.Price" class="text-danger"></span>
        </div>

         <div class="col-1">
            <label asp-for="Bike.Currency"></label>
        </div>
        <div class="col-4">
            <select asp-for="Bike.Currency" asp-items="Model.Currencies.ToSelectedListItem<Currency>()" class="form-control"></select>
            <span asp-validation-for="Bike.Currency" class="text-danger"></span>
            </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.Features"></label>
        </div>
        <div class="col-4">
            <textarea asp-for="Bike.Features"  class="form-control"></textarea>
            <span asp-validation-for="Bike.Features" class="text-danger"></span>
        </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.SellerName"></label>
        </div>
        <div class="col-4">
            <input asp-for="Bike.SellerName"  class="form-control"></input>
            <span asp-validation-for="Bike.SellerName" class="text-danger"></span>
        </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.SellerEmail"></label>
        </div>
        <div class="col-4">
            <input asp-for="Bike.SellerEmail"  class="form-control"></input>
            <span asp-validation-for="Bike.SellerEmail" class="text-danger"></span>
        </div></div>
    <br />

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Bike.SellerPhone"></label>
        </div>
        <div class="col-4">
            <input asp-for="Bike.SellerPhone"  class="form-control"></input>
            <span asp-validation-for="Bike.SellerPhone" class="text-danger"></span>
        </div> </div>

    <br /><br />
    <div class="form-group">
        <input type="submit" class="btn btn-dark" value="Create" />
        <a asp-action="Index" class="btn btn-success">Back</a>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
