@model IEnumerable<SupplierMVC.Models.CategoryData>

@{
    ViewData["Title"] = "Index";
}

<h1>All Category Details</h1>

<div class="row justify-content-between">
    <div class="col-4">
        <p>
            <a class="btn btn-primary" asp-action="Create"><i class="fa-solid fa-plus"></i> Create New</a>
        </p>
    </div>
    <div class="col-4">
        <div class="input-group ">
           <form asp-controller="Category" asp-action="Index">
                <div  class="d-flex">
                    <input type="text" name="SearchString" class="form-control me-2" placeholder="Search Category" aria-label="Search Category" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary d-flex" type="submit" id="button-addon2">Filter </button>
                </div>
           </form>
        </div>
    </div>
  </div>
<div class="table-responsive">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <partial name="_TableButtonPartial" model="item.CategoryId" />
        </tr>
}
    </tbody>
</table>
</div>

