@model SupplierMVC.Models.ViewModel.InventoryViewModel

@using SupplierMVC.Extensions
@{
    ViewData["Title"] = "Index";
}


 
<div class="row justify-content-between">
    <div class="col-4">
        <p class="text-primary">
             Update Product Stock Details
        </p>
    </div>
    <div class="col-4">
        <div class="input-group ">
            
           <form class="input-group"  asp-controller="Inventory" asp-action="Index">
                <select asp-for="product.Id" name="id" asp-items="Model.products.ToSelectedListItem<ProductData>()" id="Product" class="form-control"></select>
            
                        <button class="btn btn-outline-secondary d-flex" type="submit" id="button-addon2">Get Product Data </button>
           </form>
        </div>
    </div>
  </div>
  <hr />
  <br>
<partial name="Edit" model="Model" />

  
